@import url('https://fonts.googleapis.com/css?family=Sansita');
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

/* .container {
    position: relative;
    width: 100%;
} */

div.container {
    position: relative;
    display: block;
    /* width: 100%; */
}

.flex-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}

.overlay {
    position: absolute;
    bottom: 94%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 83%;
    height: 0%;
    transition: .5s ease;
}

.container:hover .overlay {
    bottom: 12px;
    height: 90%;
}

div.container.item-1 {
    padding: 2rem 2rem 4rem 2rem;
    margin-top: 3.5rem;
}

div.container.item-2 {
    padding: 2rem 2rem 4rem 2rem;
}

div.container.item-3 {
    padding: 2rem 2rem 4rem 2rem;
}

div.container.item-4 {
    padding: 2rem 2rem 4rem 2rem;
}

div.container.item-5 {
    padding: 2rem 2rem 4rem 2rem;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.text {
    color: white;
    font-size: 15px;
    font-weight: 200;
    position: absolute;
    padding: 0.2rem 1rem 0.5rem 1rem;
    white-space: wrap;
    line-height: 1.3rem;
}

.overlay-name {
    position: absolute;
    bottom: 12px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #fff;
    color: #ff5454;
    width: 83%;
    transition: .5s ease;
    opacity: 0;
    font-size: 22px;
    padding: 13px;
    text-align: center;
}

.container:hover .overlay-name {
    opacity: 1;
} 


 @media (min-width: 40rem) {
    .container {
        position: relative;
        width: 25%;
    }
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }
    div.container.item-1 {
        margin: 8rem 0 0 0;
    }
    div.container.item-2 {
        margin: 8rem 0 0 0;
    }
    div.container.item-3 {
        margin: 8rem 0 0 0;
    }
    div.container.item-4 {
        margin: 8rem 0 0 0;
    }
    div.container.item-5 {
        margin: 1rem 0 0 0;
    }
    .overlay {
        position: absolute;
        top: 2rem;
        left: 2rem;
        right: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: rgba(0, 0, 0, 0.7);
        overflow: hidden;
        width: 80%;
        height: 0;
        transition: .5s ease;
    }
    /* .container:hover .overlay {
        bottom: 0;
        height: 79.5%;
    } */
    .image {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .overlay-name {
        position: absolute;
        bottom: 3px;
        background: #fff;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: #ff5454;
        width: 80%;
        transition: .5s ease;
        opacity: 0;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }
    .text {
        color: white;
        font-size: 11px;
        font-family: inherit;
        position: absolute;
        white-space: wrap;
        line-height: 1.3rem;
    }
    p.text::first-letter {
        font-size: 200%;
        color: #ff5454;
        font-weight: bold;
    } 
    
}
