@import url('https://fonts.googleapis.com/css?family=Sansita');
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    /* justify-content: center; */
}

.overlay {
    position: absolute;
    bottom: 94%;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 83%;
    height: 0%;
    transition: .5s ease;
    border-radius: 10px;

  }

  .container:hover .overlay {
    bottom: 12px;
    height: 92%;

  }


div.container.item-1 {
    padding: 2rem 2rem 4rem 2rem;
      }

div.container.item-2 {
    padding: 2rem 2rem 4rem 2rem;    
  }

div.container.item-3 {
    padding: 2rem 2rem 4rem 2rem;     
}

div.container.item-4 {
    padding: 2rem 2rem 4rem 2rem ;
}

div.container.item-5 {
    padding: 2rem 2rem 4rem 2rem;}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.text {
    color: white;
    font-size: 17px;
    font-weight: 200;
    position: absolute;
    padding: 1rem;
    white-space: wrap;
    line-height: 1.3rem;
}

.overlay-name {
    position: absolute;
    bottom: 12px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #fff;
    color: #ff5454;
    width: 83%;
    transition: .5s ease;
    opacity: 0;
    font-size: 22px;
    padding: 13px;
    text-align: center;
}

.container:hover .overlay-name {
    opacity: 1;
}

/* @media only screen and (min-device-width: 320px) 
and (max-device-width: 568px) 
and (-webkit-min-device-pixel-ratio: 2) {
    .text {
        font-size: 12px;
        font-weight: 300;
    }

    overlay {
        position: absolute;
        bottom: 94%;
        background: rgba(0, 0, 0, 0.6);
        overflow: hidden;
        width: 800%;
        height: 0%;
        transition: .5s ease;
        border-radius: 10px;
    
      }
    
      .container:hover .overlay {
        bottom: 12px;
        height: 92%;
    
      }

      .image {
        display: block;
        width: 100%;
        height: auto;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    
    }
}




 */



@media (min-width: 40rem) {
    .container {
        position: relative;
        width: 25%;
    }
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        /* justify-content: center; */
    }
    div.container.item-1 {
        padding: 11rem 2rem 4rem 2rem;
    }
    div.container.item-2 {
        padding: 11rem 2rem 4rem 2rem;
    }
    div.container.item-3 {
        padding: 11rem 2rem 4rem 2rem;
    }
    div.container.item-4 {
        padding: 11rem 2rem 4rem 2rem;
    }
    div.container.item-5 {
        padding: 11rem 2rem 4rem 2rem;
    }
    .overlay {
        position: absolute;
        top: 11rem;
        left: 2rem;
        right: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        width: 80%;
        height: 0;
        transition: .5s ease;
    }
    .container:hover .overlay {
        bottom: 0;
        height: 61%;
    }
    .image {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .overlay-name {
        position: absolute;
        bottom: 3px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: #ff5454;
        width: 80%;
        transition: .5s ease;
        opacity: 0;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }
    .text {
        color: white;
        font-size: 11px;
        font-family: inherit;
        position: absolute;
        white-space: wrap;
        line-height: 1.3rem;
    }
    p.text::first-letter {
        font-size: 200%;
        color: #ff5454;
        font-weight: bold;
    }
}

