@import url('https://fonts.googleapis.com/css?family=Sansita');
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    /* height: 100%; */
    /* background: url(/images/rawpixel__unsplash.jpg); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    /* height: 100%; */
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    font-size: 1rem;
}

.wrapper {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    padding: 1px 0;
}

.main-header {
    width: 100vw;
    background: white;
}

.main-header_logo {
    margin-left: 0.7rem;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    margin-top: 0;
    width: 100vw;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
    font-size: 1rem;
}

.topnav a:hover {
    color: deeppink;
    font-weight: bold;
}

.topnav a.active {
    background-color: #60b0f4;
    color: white;
}

.topnav .search-container {
    float: right;
    vertical-align: top;
}

.topnav input[type=text] {
    padding: 0.375rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.topnav .search-container button {
    float: right;
    padding: 0.375rem 0.625rem;
    margin-top: 0.5rem;
    margin-right: 0.625rem;
    background: #60b0f4;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    color: white;
}

.topnav .search-container button:hover {
    opacity: 0.8;
}

.mainnav a {
    text-decoration: none;
    color: aliceblue
}

#main_pm {
    font-family: 'Play', sans-serif;
    font-size: 3.8vw;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    margin-top: 150px;
    padding: 3%;
    width: 66%;
    text-shadow: none;
}

.home {
    color: aliceblue;
}

h1 {
    color: deeppink;
}

h2 {
    margin-left: 2.5rem;
}

.section-title {
    text-align: center;
    font-size: 3rem;
}

.col-container {
    display: table;
    width: 100%;
    padding: 20px;
}

.col {
    display: table-cell;
    padding: 16px;
}

.responsive {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    margin-left: 115px;
    width: 183px;
    height: 290px;
}

#books_three_intro,
#books_two_intro,
#books_one_intro {
    font-family: font-family 'Helvetica', sans-serif;
    font-weight: 200;
    line-height: 25px;
    position: absolute;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 20px;
    border: none;
    width: 30%;
    display: none;
}

.button {
    display: inline-block;
    font-family: font-family 'Helvetica', sans-serif;
    padding: 6px 10px;
    color: deeppink;
    font-weight: 700;
    border: 2px solid #60b0f4;
    line-height: normal;
    margin-top: 20px;
    margin-left: 9rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.5s;
}

.button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.button:focus {
    outline: none;
}

footer {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 2px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    html {
        height: 100vh;
    }
    body {
        height: 100vw;
    }
    .topnav a,
    .topnav input[type=text],
    .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 0.875rem;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
    .home {
        font-size: 22vm;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-image: url(/images/rawpixel__unsplash_mobile.jpg);
        background: no-repeat;
    }
    .col {
        display: block;
    }
    #books_three_intro,
    #books_two_intro,
    #books_one_intro {
        position: relative;
        width: 100%;
    }
    .button {
        margin-left: 3.8rem;
    }
    .responsive {
        margin-left: 20%;
        width: 153px;
        height: 260px;
    }
    .section-title {
        font-size: 2rem;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-image: url(/images/rawpixel__unsplash_mobile.jpg);
        background: no-repeat;
    }
    .button {
        margin-left: 5.7rem;
    }
    .responsive {
        margin-left: 27%;
    }
}

/* ----------- iPhone 6+, 7+, 8+ and X ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    body {
        background-image: url(/images/rawpixel__unsplash_mobile.jpg);
        background: no-repeat;
    }
    .button {
        margin-left: 6.5rem;
    }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-image: url(/images/rawpixel__unsplash_mobile.jpg);
        background: no-repeat;
    }
    .button {
        margin-left: 3.3rem;
    }
    .responsive {
        margin-left: 23%;
        width: 133px;
        height: 240px;
    }
    .section-title {
        font-size: 2rem;
    }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-image: url(/images/rawpixel__unsplash_mobile.jpg);
        background: no-repeat;
    }
    .button {
        margin-left: 4.6rem;
    }
    .responsive {
        margin-left: 25%;
    }
}