@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
.flex-container {
    padding: 11em 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item {
    background-color: #ffffa5;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    padding: 80px 0px;
    font-size: 32px;
}

.item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#f1_container {
    perspective: 1000;
}

#f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

#f1_container:hover #f1_card {
    transform: rotateY(180deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    text-align: center;
    background-color: #ffffa5;
}

SquareGrid {
    /* // The content width you use on your website */
    --content-width: 80vw;
    /* // The size of the gutter   */
    --gutter: 40px;
    /* // The amount of columns */
    --columns: 1;
    /* // This is the calculation for the row height.    */
    --row-size: calc( ( var(--content-width) - (var(--gutter) * (var(--columns) - 1))) / var(--columns));
    display: grid;
    width: 100%;
    max-width: var(--content-width);
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-auto-rows: var(--row-size);
    grid-column-gap: var(--gutter);
    grid-row-gap: var(--gutter);
}

@media screen and (max-width: 600px) {
    /* div.container {
        position: absolute;
        display: block;
        margin: 0 0 0 0px;
    } */

    div#main-logo {
        display: flex;
        width: 70%;
        float: left;
    }
}

@media (min-width: 375px) {
    SquareGrid {
        --columns: 1;
    }
    .flex-container {
        padding-top: 2rem;
    }
    
}

@media (min-width: 768px) {
    SquareGrid {
        --columns: 3;
    }
    .flex-container {
        padding-top: 11rem;
    }
    /* .item {
        font-size: 21px;
        padding: 70px 0;
    } */
}

@media (min-width: 1200px) {
    SquareGrid {
        --columns: 4;
    }
}