@import url('https://fonts.googleapis.com/css?family=Sansita');
* {
    box-sizing: border-box;
    /* changes width property
to total width instead of content width */
}

*:before,
*:after {
    box-sizing: border-box;
}

article,
aside,
footer,
section,
main,
figcaption,
figure {
    display: block;
    /* just in case we have
    any older browsers that don't recognize
    the HTML5 semantic elements */
}

body {
    background-color: #60b0f4;
    flex-direction: column;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
}

#tfheader {
    margin-top: 25px;
}

.tftextinput {
    margin-left: 13px;

    padding: 5px 15px;
    font-size: 14px;
    width: 250px;
    border: 1px solid #60b0f4;
    border-right: 0px;
}


.tfbutton {
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
    color: #ffffff;
    border: solid 1px #60b0f4;
    border-right: 0px;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to( #60b0f4));
    background: -moz-linear-gradient(top, #00adee, #0078a5);
    flex-wrap: nowrap;
}

.tfbutton:hover {
    text-decoration: none;
    background: #60b0f4;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to( #60b0f4));
    background: -moz-linear-gradient(top, #0095cc, #00678e);
}

/* Fixes submit button height problem in Firefox */

.tfbutton::-moz-focus-inner {
    border: 3px;
}

.tfclear {
    clear: both;
}

main {
    height: 700px;
    text-align: center;
}


.main-header {
    display: inline-block;
    background: white;
}

.main-header_logo {
    margin-left: 50px;

}

.main-nav {

    flex-flow: nowrap;
}

.main-header > div {
    display: inline-block;
}

.main-nav_items {
    padding: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}


.main-nav_item {
    display: inline-block;
    margin-top: 30px;
    order: 1;
}

.main-nav_item a {
    color: #e6007e;
    text-decoration: none;
    font-weight: bold;
}

.main-nav_item a:hover,
.main-nav_item a:active {
    color: #60b0f4;
}

.main-nav_item--cta a {
    color: #e6007e;
    background: #60b0f4;
    padding: 8px 8px;
    border-radius: 5px;
}

footer {
    border-top-style: solid;
    text-align: center;
    font-size: 12px
}




/* when on medium screen */

@media screen and (min-width: 474px) {
    main {
        text-align: left;
    }
    .tftextinput {
        margin: 0;
        padding: 5px 15px;
        font-size: 14px;
    }
    .tfbutton {
        margin-right: 150px;
    }
    .main-nav {
        padding-top: 30px;
        display: inline-block;
    }
    footer {
        font-size: 16px;
        padding: 10px;
    }
}


/* when on large screen */

@media screen and (min-width: 780px) {
    #tfheader {
        float: right;
    }
    .main-header > div {
        display: inline-block;
    }
    .main-nav {
        float: right;
        text-align: right;
    }

    .main-nav_item {
        margin-left: 5px;
        font-size: 20px;
    }
    .main-nav_item--cta a {
        padding: 5px 10px;
    }
    footer {
        font-size: 18px;
        padding: 5px;
    }
}
